body {
	background-color: #ffffff;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 6px 4px;
}
@font-face {
	font-family: 'bebas_neueregular'; src: url('font/bebasneue-webfont.eot'); src: url('font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('font/bebasneue-webfont.woff') format('woff'), url('font/bebasneue-webfont.ttf') format('truetype'), url('font/bebasneue-webfont.svg#bebas_neueregular') format('svg'); font-weight: normal; font-style: normal;
}

p 					{ font-family: Verdana, Arial, Helvetica, sans-serif; }

address 			{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px }

pre				{ margin-top: 0px; margin-bottom: 0px; }

a					{ text-decoration:none; color:#0066FF;}
a:active 			{}
a:link    			{}
a:visited 			{}

a.subtle			{text-decoration: none; color:#0066FF; }
a.resolved			{ text-decoration: line-through underline; }
a > img				{ border: none; }

form				{ display: inline; }

input				{}
input.button			{
	cursor: pointer;
	/*
	color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 11px;
    height: auto;
    margin: 5px 5px 5px 0;
    padding: 7px;
    text-transform: none;
    width: auto;
	border:1px;
	background-color:#0066FF;
	*/
}
input.button:hover{
	cursor: pointer;
	opacity:.75;
}
input.button-small{ 
	font-size: 11px;	
}


textarea			{font-size:12px; width:90%}
select				{}

span				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
span.print			{ font-size: 11px; }
span.required 		{ font-size: 11px; color: #bb0000; }
span.small 			{ font-size: 11px; font-weight: normal; }
span.pagetitle		{ font-size: 12pt; font-weight: bold; text-align: center }
span.bracket-link	{ white-space: nowrap; }

span.dependency_dated		{ color: maroon; }
span.dependency_met			{ color: green; }
span.dependency_unmet		{ color: red; }
span.dependency_upgrade		{ color: orange; }

table				{ 
	
}
table.hide			{ width: 100%; border: solid 0px #ffffff; }
table.width100		{ width: 100%; /*border: solid 1px #000000; */
-moz-box-shadow: 0px 0px 4px 2px #ddd;
	-webkit-box-shadow: 0px 0px 4px 2px #ddd;
	box-shadow: 0px 0px 4px 2px #ddd; }
table.width90		{ width: 90%;  /*border: solid 1px #000000; */
-moz-box-shadow: 0px 0px 4px 2px #ddd;
	-webkit-box-shadow: 0px 0px 4px 2px #ddd;
	box-shadow: 0px 0px 4px 2px #ddd; }
table.width75		{ width: 75%;  /*border: solid 1px #000000; */
-moz-box-shadow: 0px 0px 4px 2px #ddd;
	-webkit-box-shadow: 0px 0px 4px 2px #ddd;
	box-shadow: 0px 0px 4px 2px #ddd; }
table.width60		{ width: 60%;  /*border: solid 1px #000000; */
-moz-box-shadow: 0px 0px 4px 2px #ddd;
	-webkit-box-shadow: 0px 0px 4px 2px #ddd;
	box-shadow: 0px 0px 4px 2px #ddd; }
table.width50		{ width: 50%;  /*border: solid 1px #000000; */
-moz-box-shadow: 0px 0px 4px 2px #ddd;
	-webkit-box-shadow: 0px 0px 4px 2px #ddd;
	box-shadow: 0px 0px 4px 2px #ddd; }

td 					{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; padding: 4px; text-align: left; }
td.center			{ text-align: center; }
td.left				{ text-align: left; }
td.right			{ text-align: right; }
td.category			{ background-color: #c8c8e8; color: #000000; font-weight: bold; vertical-align : top; }
td.overdue			{ background-color: #ff0000; color: #000000; font-weight: bold; }

td.col-1			{ background-color: #d8d8d8; color: #000000; }
td.col-2			{ background-color: #e8e8e8; color: #000000; }
td.form-title		{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: left; font-family:'bebas_neueregular' ; font-size:20px;}
td.form-title-caps	{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: left; text-transform: uppercase; }
td.nopad			{ padding: 0px; }
td.small-caption	{ font-size: 11px; }
td.print			{ font-size: 11px; text-align: left; padding: 2px; }
td.print-category	{ font-size: 11px; color: #000000; font-weight: bold; text-align: right; padding: 2px; }
td.print-overdue	{ font-size: 11px; color: #000000; font-weight: bold; padding: 2px; }
td.print-bottom		{ border-bottom: 1px solid #000000; }
td.print-spacer		{ background-color: #ffffff; color: #000000; font-size: 1pt; line-height: 0.1; padding: 0px;}

tr					{}
tr.spacer			{ background-color: #ffffff; color: #000000; height: 5px; }
tr.row-1			{ background-color: #d8d8d8; color: #000000; }
tr.row-2			{ background-color: #e8e8e8; color: #000000; }
tr.row-category		{ background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category td  {  text-align:center; }
tr.row-category2	{ background-color: #c8c8e8; color: #000000; }
tr.row-category-history { background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category-history td {  text-align: left; }
tr.vcenter			{ vertical-align: middle; }
tr.print			{ vertical-align: top; }
tr.print-category	{ color: #000000; font-weight: bold; }

#buglist tr			{ text-align: center; }

td.bugnote-public		{ background-color: #c8c8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; vertical-align: top; }
td.bugnote-private		{ background-color: #e8e8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; vertical-align: top; }
td.bugnote-note-public	{ background-color: #e8e8e8; color: #000000; width: 75%; vertical-align: top; }
td.bugnote-note-private	{ background-color: #e8e8e8; color: #000000; width: 75%; vertical-align: top; }

td.login-info-left		{ width: 33%; padding: 0px; text-align: left; }
td.login-info-middle	{ width: 33%; padding: 0px; text-align: center; }
td.login-info-right		{ width: 33%; padding: 0px; text-align: right; white-space: nowrap; }

td.menu
{	
	
	/*background-color: #e8e8e8;*/	
	color: #000000;
	text-align: center;
	width: 100%;
	padding: 5px;
}

td.menu a
{
	white-space: nowrap;
}

td.news-heading-public	{ background-color: #c8c8e8; color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-heading-private	{ background-color: #d8d8d8;       color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-body			{ background-color: #ffffff;         color: #000000; padding: 16px; }

img						{}
img.icon				{ width: 11px; height: 11px; }
img.delete-icon			{ position: relative; top: 5px; border: 0; }

div						{ padding: 3px; }
div.menu				{ background-color: #e8e8e8; color: #000000; text-align: center; width: 100%; padding: 1px; }

div.center {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

div.border
{
	background-color: #ffffff;
	border: solid 1px #000000;
	text-align: center;
	position: relative;
}

div.quick-summary-left	{ width: 49%; padding: 2px; text-align: left;  float: left; }
div.quick-summary-right	{ width: 49%; padding: 2px; text-align: right; float: right;}

.center					{ text-align: center; }
.left					{ text-align: left; }
.right					{ text-align: right; }
.floatright				{ float: right; }
.floatleft				{ float: left; }
.small					{ font-size: 11px; }
.small-normal 			{ font-size: 11px; font-weight: normal; }
.small-subprojects		{ font-size: 11px; width: 200px; }
.bold					{ font-weight: bold; }
.bold-small				{ font-weight: bold; font-size: 11px; }
.italic					{ font-style: italic; }
.italic-small			{ font-style: italic; font-size: 11px; }
.underline				{ text-decoration: underline; }
.underline-small		{ text-decoration: underline; font-size: 11px; }
.strike					{ text-decoration: line-through; }
.strike-small			{ text-decoration: line-through; font-size: 11px; }
.hidden				{ display: none; }

.nowrap
{
	white-space: nowrap;
}

.positive
{
	color: green;
}

.negative
{
	color: red;
}

.issue-status
{
	border-bottom: 1px dotted black;
}

.avatar
{
	float: right;
	border: 0;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-radius: 5px;
}

.progress400				{ position: relative; width: 400px; border: 1px solid #d7d7d7; margin-top: 1em; margin-bottom: 1em; padding: 1px; }
.progress400 .bar			{ display: block; position: relative; background: #6bba70; text-align: center; font-weight: normal; color: #333; height: 2em; line-height: 2em; }

/** New CSS***/
/*
#relationships_open, #relationships_closed, #upload_form_open, #upload_form_closed, #monitoring_open, #monitoring_closed {
	width: 47%;
	float:left; 
	margin:0px 10px 10px 0px;
	
}

#bugnote_add_open,#bugnote_add_closed,#bugnotes_open,#bugnotes_closed{
	width: 47%;
	float:right; 
	margin:0px 10px 10px 0px;
	
}
*/